<%- include('header.ejs') %>

<div class="container">
    <h1>Lista de Mesas</h1>
    <div class="row">
        <% mesas.forEach(mesa => { %>  <!-- Itera sobre cada mesa -->
            <div class="col-3 card m-1" style="width: 18rem;">
                <img src="<%= '/image/mesas/' + mesa.imagen %>" height="150" alt="Imagen Mesa"/>

                <div class="card-body">
                    <h1 class="card-title">Mesa # <%= mesa.id %></h1>
                    <p class="card-text">Nombre: <%= mesa.nombre %> </p>
                    <p class="card-text">Lugares: <%= mesa.lugares %></p>
                    <button class="btn btn-info">
                        <a href="<%= '/mesas/relaciones/' + mesa.id %>" class="text-white">Ver Sillas</a>
                    </button>
                </div> 
            </div>
        <% }) %>
    </div>
</div>


