<%- include('header.ejs') %>

<div>
  <h1>Sillas que entran en la Mesa # <%= mesa.id %></h1>
  <p>Nombre: <%= mesa.nombre %></p>
  <p>Cantidad de lugares: <strong><%= mesa.lugares %></strong></p>
  <img src="<%= '/image/mesas/' + mesa.imagen %>" height="80">
</div>

<div>
  <% if (mesa.Sillas && mesa.Sillas.length > 0) { %>
    <% mesa.Sillas.forEach(silla => { %>  
      <h2>Silla # <%= silla.id %></h2>
      <p>Nombre: <%= silla.nombre %></p>
      <p>Cantidad: <%= silla.cantidad %></p>       
    <% }) %>
  <% } else { %>
    <p>No hay sillas asociadas a esta mesa.</p>
  <% } %>
</div>
