<%- include('header.ejs') %>

<div class="container">
    <h1>Lista de Sillas</h1>
    <div class="row">
        <% sillas.forEach(silla => { %>  <!-- Itera sobre cada silla -->
            <div class="col-3 card m-1" style="width: 18rem;"> 
                <div class="card-body">
                    <h1 class="card-title">Silla # <%= silla.id %></h1>
                    <p class="card-text">Nombre: <%= silla.nombre %></p>
                    <p class="card-text">Cantidad: <%= silla.cantidad %></p>
                    <button class="btn btn-info">
                        <a href="<%= '/sillas/relaciones/' + silla.id %>" class="text-white">Ver Mesas</a>
                    </button>
                </div> 
            </div>
        <% }) %>
    </div>
</div>

